@page
@using Models.Media
@using Models.Types
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-left">
    @* <component type="typeof(BusinessMonths)" render-mode="Static" param-fortimestamp="@DateTime.UtcNow" /> *@
    @* <component type="typeof(Parts)" render-mode="Static" param-allparts="@Model.AllParts" /> *@
    
    <table class="table table-striped">
        <thead>
        @{ int ordinal = 0;}
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>SKU</th>
            <th>Barcode</th>
        </tr>
        </thead>
        <tbody>
        @foreach (Part part in Model.AllParts.OrderBy(part => part.Name))
        {
            // Partial application in its most expressive form im C#
            // var image = BarcodeGeneration.ToCode39(Model.Margins, Model.Style)(part.Sku);
            // Less expressive form using a variable with the Apply extension method.
            // var toCode39 = Code39Generator.ToCode39.Apply(Model.Margins, Model.Style);
            <tr>
                <td>@(++ordinal)</td>
                <td>@part.Name</td>
                <td>@part.Sku.Value</td>
                <td><img src="data:@Model.BarcodeGenerator(part.Sku).EncodeBase64().Content"/></td>
                <td><a asp-page="partdetails" asp-route-id="@part.Id">Details</a></td>
            </tr>
        }
        </tbody>
    </table>
</div>
